https://mathter.pro/algebra/5_11_kak_nayti_obratnuyu_matricy_metodom_gaussa.html
# Пример 126

Найти обратную матрицу с помощью элементарных преобразований

$$
$$
\begin{bmatrix}
3 & 4 & 2 \\
2 & -1 & -3 \\
1 & 5 & 1 \\
\end{bmatrix}
$$
$$

## Решение


1. Составим расширенную матрицу \( [A | I] \):

$$
$$
\begin{bmatrix}
3 & 4 & 2 & | & 1 & 0 & 0 \\
2 & -1 & -3 & | & 0 & 1 & 0 \\
1 & 5 & 1 & | & 0 & 0 & 1 \\
\end{bmatrix}
$$
$$

2. Наша цель — преобразовать матрицу $A$ в единичную матрицу

3. В итоге, когда матрица $A$ станет единичной, $I$ превратится в $A^{-1}$

In [ ]:
# делаем матрицу
from sympy import Matrix

A = Matrix([
    [3, 4, 2],
    [2, -1, -3],
    [1, 5, 1]
])
I = Matrix.eye(3)
B = A.row_join(I)
B

Matrix([
[3,  4,  2, 1, 0, 0],
[2, -1, -3, 0, 1, 0],
[1,  5,  1, 0, 0, 1]])

In [ ]:
# меняяем 1-ю и третью строки
# чтобы знак не поменялссяя меняем 2-ю и 3-ю
B[0,:], B[2,:] = B[2,:], B[0,:].copy()
B[1,:], B[2,:] = B[2,:], B[1,:].copy()
B
# TODO

Matrix([
[1,  5,  1, 0, 0, 1],
[3,  4,  2, 1, 0, 0],
[2, -1, -3, 0, 1, 0]])

In [ ]:
# отнимаем первую строку из второй трижды, из третьей - дважды
B[1,:] -= 3 * B[0,:]
B[2,:] -= 2 * B[0,:]
B
#

Matrix([
[1,   5,  1, 0, 0,  1],
[0, -11, -1, 1, 0, -3],
[0, -11, -5, 0, 1, -2]])

In [ ]:
# вычитаем из третьей вторую
B[2,:] -= B[1,:]
B
#

Matrix([
[1,   5,  1,  0, 0,  1],
[0, -11, -1,  1, 0, -3],
[0,   0, -4, -1, 1,  1]])

In [ ]:
# к первой прибавим вторую, умноженную на 5/11
B[0,:] += B[1,:] * 5/11
B

Matrix([
[1,   0, 6/11, 5/11, 0, -4/11],
[0, -11,   -1,    1, 0,    -3],
[0,   0,   -4,   -1, 1,     1]])

In [ ]:
# к первой прибавим третью , умноженную на 6/44
B[0,:] += B[2,:] * 6/44
B

Matrix([
[1,   0,  0, 7/22, 3/22, -5/22],
[0, -11, -1,    1,    0,    -3],
[0,   0, -4,   -1,    1,     1]])

In [ ]:
# из второй вычтем третью, делённую на 4
B[1,:] -= B[2,:] / 4
B

Matrix([
[1,   0,  0, 7/22, 3/22, -5/22],
[0, -11,  0,  5/4, -1/4, -13/4],
[0,   0, -4,   -1,    1,     1]])

In [ ]:
# вторую делим на -11, третью на -4
B[1,:] /= -11
B[2,:] /= -4
B
#

Matrix([
[1, 0, 0,  7/22, 3/22, -5/22],
[0, 1, 0, -5/44, 1/44, 13/44],
[0, 0, 1,   1/4, -1/4,  -1/4]])

In [ ]:
# получаем ответ из трёх последних столбцов
A_inv = B[:,3:]
A_inv

Matrix([
[ 7/22, 3/22, -5/22],
[-5/44, 1/44, 13/44],
[  1/4, -1/4,  -1/4]])

In [ ]:
# п

In [ ]:
# проверка
A * A_inv

Matrix([
[1, 0, 0],
[0, 1, 0],
[0, 0, 1]])